.v-icon.apple,
.v-icon.default {
  color: #424242;
}

.v-icon.android {
  color: #80d300;
}

.v-icon.windows {
  color: #00b0f4;
}

.v-icon.twitter {
  color: #4AABE7;
}

.v-icon.fa-twitter {
  color: #4AABE7;
}

.v-icon.facebook {
  color: #415B94;
}

.v-icon.fa-facebook {
  color: #415B94;
}

.v-icon.linkedin {
  color: #2E73AD;
}

.v-icon.fa-linkedin {
  color: #2E73AD;
}

.v-icon.google-plus {
  color: #CC5441;
}

.v-icon.fa-google {
  color: #CC5441;
}

.v-icon.instagram {
  color: #424242;
}

.v-icon.fa-instagram {
  color: #424242;
}