.row-popover {
  margin-top: 5px;
  position: relative;
  background: transparent;

  .row-popover-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    margin: 0 5px;
    border-color: $primary;
    right: 9px;
    border-width: 0 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    position: absolute;
    top: -5px;
  }

  .row-popover-inner {
    background-color: $primary;
    color: white;
    display: flex;
    padding: 20px;
    border-radius: 4px;
  }

  .row-popover-item {
    flex: 1;
    color: white;
    margin-right: 20px;
    .v-icon {
      color: white;
      cursor: pointer;
      &.excel {
        font-size: 20px;
        margin-top: 3px;
      }
    }
  }

  .row-popover-item:last-child {
    margin-right: 0;
  }
}