@import "../../../../styles/v2/colors";

.wifi-setup {
  position: relative;

  &__header {
    margin: 16px 0;
    overflow: hidden;

    &__description-container {
      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $text-dark;
      max-width: 500px;
      float: left;
    }

    &__deploy-button {
      float: right;
      padding: 0 25px;
    }
  }

  &__content {
    padding: 45px;
    background-color: $white;
    border-radius: 6px;
    position: relative;

    &__network-select-label, &__active-network-select-label {
      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: $blue-dark;
    }

    &__active-network-select-container {
      margin-top: 36px;
    }

    &__ssid-list {
      margin-top: 20px;
    }

    &__save-button {
      margin-top: 30px;
    }

  }

  &__loading-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
  }

}
