@import "../../../styles/v2/colors";

.multi-text-input {
  outline: 0;

  label {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 41px;
    color: $text-medium;
    margin-right: 30px;
  }

  &__handle-container {
    background: $white;
    border: 1px solid $gray-light;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__input-container {
    line-height: 36px;
    position: relative;
  }

  &__selected-items {
    padding: 2px;

    &__item {
      display: inline-block;
      height: 32px;
      margin: 2px;
      line-height: 32px;
      padding: 0 10px;
      background-color: #e5edf5;
      cursor: pointer;

      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      color: $text-dark;

      &__close-icon {
        color: #828282;
        font-size: 13px;
        margin-left: 8px;
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }

  &__text-field {
    border: none;
    outline: 0;
    display: block;
    background: $white;
    box-sizing: border-box;
    width: 100%;

    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
    color: $text-medium;

    input {
      width: 100%;
      padding: 0 8px;

      &:focus {
        border: none;
        outline: 0;
      }
    }
  }

  &__options {
    position: fixed;
    background-color: $white;
    z-index: 999;

    border: 1px solid $blue-medium;
    border-top-width: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;

    &__scroll-holder {
      max-height: 240px;
    }

    &__section {
      margin-top: 15px;
      border-bottom: 1px solid $gray-xlight;
      min-width: 50%;

      &__title {
        padding: 0 40px;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $text-dark;
        margin-bottom: 5px;
      }

      .multi-text-input__options__option {
        padding-left: 70px;
      }
    }

    &__option {
      padding: 0 40px;
      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 36px;
      color: $text-dark;
      cursor: pointer;

      &:hover {
        background: $gray-xlight;
        color: $blue-medium;
      }
    }

    &__option-container {
      &--tree {
        .multi-text-input__options__option:not(:hover) {
          &:nth-child(2n + 1) {
            background-color: $white;
          }
          &:nth-child(2n) {
            background-color: rgba($gray-xlight, 0.5);
          }
        }
      }

      &:not(.multi-text-input__options__option-container--tree) {
        &:nth-child(2n + 1) {
          background-color: rgba($gray-xlight, 0.5);
        }
        &:nth-child(2n) {
          background-color: $white;
        }
      }
    }
  }

  &--active {
    .multi-text-input__handle-container {
      border-color: $blue-medium;
    }

    &.multi-text-input--has-options {
      .multi-text-input__handle-container {
        border-bottom-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .multi-text-input__selected-items {
        padding-bottom: 3px;  // To prevent bouncing on open
      }
    }
  }

  &--upwards {
    .multi-text-input__options {
      border-top-width: 1px;
      border-bottom-width: 0;
      border-radius: 4px  4px 0 0;
    }

    &.multi-text-input--active.multi-text-input--has-options {
      .multi-text-input__handle-container {
        border-top-width: 0;
        border-bottom-width: 1px;
        border-radius: 0 0 4px 4px;
      }

      .multi-text-input__selected-items {
        padding-bottom: 2px;
        padding-top: 3px;  // To prevent bouncing on open
      }
    }
  }

  &--small {
    label {
      line-height: 30px;
    }

    .multi-text-input__input-container {
      line-height: 26px;
    }

    .multi-text-input__selected-items {
      &__item {
        height: 24px;
        line-height: 24px;
      }

      &__icon {
        line-height: 30px;
      }
    }

    .multi-text-input__text-field {
      line-height: 26px;
    }

    .multi-text-input__options {
      &__option {
        line-height: 26px;
      }
    }
  }

  &--multiline {
    label {
      display: block;
    }
  }

  &--invalid {
    .multi-text-input__handle-container {
      border-color: $danger;
    }
  }

  &--required {
    label:after {
      content: '*';
      color: $danger;
      margin-left: 5px;
      font-size: 12px;
    }
  }

  &--disabled {
    .multi-text-input__handle-container {
      border-color: $gray-light;
      background-color: rgba(#C8CCD5, 0.15);
      cursor: not-allowed;
    }

    .multi-text-input__text-field {
      cursor: not-allowed;
      background-color: transparent;

      input {
        cursor: not-allowed;
      }
    }

    .multi-text-input__selected-items {
      &__item {
        cursor: not-allowed;
        &__close-icon {
          display: none;
        }
      }
    }
  }
}
