body {
  font-family: 'Open Sans', sans-serif;
}

#background-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position: center center;
}

#background-image.wifi4eu {
  background-image: url(https://collection.wifi4eu.ec.europa.eu/media/banner/Wifi4EU-EN.svg) !important;
  width: 100%;
  background-size: contain !important;
  background-position: unset !important;
  background-repeat: no-repeat !important;
}
