@import "../../../../styles/v2/colors";

.security-compliance-rule-set-list {
  background-color: $white;
  position: relative;

  &__header {
    height: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0 30px;
    overflow: hidden;

    &__search-input {
      float: left;
      margin-top: 15px;
    }

    &__actions {
      float: right;

      .base-button {
        min-width: 180px;
        margin-left: 10px;
        margin-top: 12px;
      }
    }
  }

  &__content {
    padding: 24px 30px;
    box-sizing: border-box;
    height: calc(100vh - 220px);

    &__scroll-area {
      height: 100%;
    }

    &__rule-set-table {
      &__checks {
        min-height: 120px;
        padding: 20px;
      }
    }
  }

  &__loading-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
