@import "../../../../styles/v2/colors";

.template-preview {
  border: 1px solid $gray-light;

  &__header {
    height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid $gray-light;

    &__title {
      line-height: 40px;
      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $text-medium;
    }
  }

  &__content {
    &__category {
      &__title {
        height: 38px;
        padding: 0 10px;
        background-color: $gray-xlight;
        line-height: 38px;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $text-medium;
        font-weight: 500;
      }

      &__setting {
        line-height: 24px;
        padding: 10px 24px;

        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $text-medium;
        border-bottom: 1px solid $gray-xlight;

        &__warning {
          color: $text-warning;
          font-family: Fira Sans;
          font-weight: normal;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
}

@media only screen and (min-width: 1264px) {
  .template-preview {
    height: 100%;

    &__content {
      height: calc(100% - 40px);
      overflow: hidden;
    }
  }
}
