$blue: hsl(220, 85%, 62%);
$green: #62d862;
$light-gray: #d8deeb;
$black: #00082a;
$red: #ec5f59;
$deemed-gray: #9aa9c4;
$purple: #aa85d9;
$deemed-blue: #354c77;
$item-selected-background: #EFF3F8;

$primary: $blue;
$success: $green;

// menu side bar
$borderColor: #e5eaf0;
$subMenuColor: #f8fafc;
$subMenuTitleText: #354c77;

$mainMenuIcon: #97b8f6;
$mainMenuBgHover: #5AA0FF;
