$blue-dark: #223d70;
$blue-medium: #1c51ba;
$blue-light: #1e4ca1;
$blue-reserve: #2464e6;

$green-dark: #108112;
$green-medium: #15ac2f;
$green-light: #65c965;

$gray-dark: #8796b2;
$gray-medium: #e2e8f1;
$gray-light: #c8cdd5;
$gray-reserve: #e7e9eb;
$gray-xlight: #eff3f8;
$white: #ffffff;


$text-dark: #242223;
$text-medium: #53575a;

$danger: #eb5757;
$text-warning: #eb5757;

$warning: #dba200;
