@import "../../../styles/v2/colors";
@import "../../../styles/v2/base";

.table-multi-add {
  position: relative;

  &__options {
    border: 1px solid $gray-light;

    &__header {
      height: 40px;
      overflow: hidden;

      .base-text-input ::v-deep {
        input {
          height: 40px;
          color: $text-dark;
          border: none;
          padding: 9px 54px 9px 35px;
          border-radius: 0;

          &:focus {
            border-color: $green-light;
          }
        }

      }
    }

    &__list {
      position: relative;

      &__table {
        max-height: 400px;
      }

      .base-table {
        height: auto;
      }
    }
  }

  &--disabled {
    .table-multi-add__options {
      background-color: rgba(#C8CCD5, 0.15);
      cursor: not-allowed;
    }
  }

  &--fill-height {
    height: 100%;

    .table-multi-add__options {
      height: 100%;

      &__list {
        height: calc(100% - 40px);
        overflow: hidden;

        &__table {
          max-height: none;
          height: 100%;
        }
      }
    }
  }
}
