@import "../../../../../styles/v2/colors";

.connection-status-cell {
  text-align: center;

  .v-icon {
    color: $gray-light !important;
    font-size: 12px;
  }

  &--online {
    .v-icon {
      color: $green-dark !important;
    }
  }

  &--offline {
    .v-icon {
      color: $danger !important;
    }
  }
}
