
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <style type="text/css">
      #wifi4eubanner {
        position: absolute;
        z-index: -1;
      }
    </style>
    <title>Boundless Wifi</title>
    <script type="text/javascript">
      // campaign json and splash page json loader
      function getAllParams(url) {
           var params = {};
           var parser = document.createElement('a');
           parser.href = url;
           var query = parser.search.substring(1);
           var vars = query.split('&');
           for (var i = 0; i < vars.length; i++) {
             var pair = vars[i].split('=');
             params[pair[0]] = decodeURIComponent(pair[1]);
           }
           return params;
      }

      const href = window.location.href
      const pageParams = getAllParams(href)

      const processEnv = JSON.parse('${JSON.stringify(process.env)}')
      const API_URL = processEnv.VUE_APP_SERVER_URL

      window.mainConfig = {}

      if (pageParams.template_id) {
        let xhr = new XMLHttpRequest()
        xhr.open('GET', API_URL + '/splash-page-config/?key=' + pageParams.template_id)
        xhr.responseType = 'json'
        xhr.send()
        xhr.onload = function () {
          let res = xhr.response
          // console.log('loaded splash page config', res)
          if (typeof res === 'string') { // for IE
            res = JSON.parse(res)
          }

          window.mainConfig.splash_page = res.data
        }
      };

      if (pageParams.campaign_key && pageParams.campaign_last_update) {
        // console.log('portal start loading campaign json')
        let camxhr = new XMLHttpRequest()
        camxhr.open('GET', API_URL + '/campaign-config/?key=' + pageParams.campaign_key + '&campaign_last_update=' + pageParams.campaign_last_update)
        camxhr.responseType = 'json'
        camxhr.send()
        camxhr.onload = function () {
          let res = camxhr.response
          // console.log('loaded campaign data', res)
          if (typeof res === 'string') { // for IE
            res = JSON.parse(res)
          }

          window.mainConfig.campaign = res.data.config
        }
      }

      if (pageParams.version) {
        window.baseUrl = href.substring(0, href.indexOf('index.html'))
        let devXhr = new XMLHttpRequest()
        devXhr.open('GET', window.baseUrl + 'config.' + pageParams.version + '.json')
        devXhr.responseType = 'json'
        devXhr.send()
        devXhr.onload = function () {
          let res = devXhr.response
          if (typeof res === 'string') { // for IE
            res = JSON.parse(res)
          }

          if (res) {
            // Old style campaign
            window.mainConfig = res
          }
        }
      }
    </script>
    <script type="text/javascript">
      var wifi4euTimerStart = Date.now();
      var wifi4euNetworkIdentifier = pageParams.wifi4euNetworkId || '123e4567-e89b-12d3-a456-426655440000';
      var wifi4euLanguage = pageParams.locale || 'en'
      var selftestModus = ('<%= process.env.VUE_APP_MODE %>' !== 'production');
    </script>
    <script type="text/javascript" src="https://collection.wifi4eu.ec.europa.eu/wifi4eu.min.js"></script>
  </head>
  <body data-git-branch='<%= process.env.VUE_APP_BRANCH %>' data-git-commit="<%= process.env.VUE_APP_COMMITHASH %>" data-git-revision="<%= process.env.VUE_APP_VERSION %>">
    <noscript>
      <strong>Boundless Wifi</strong>
    </noscript>
    <img id="wifi4eubanner">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
