@import "../../../../styles/v2/colors";

.compliance-check-detail {
  position: relative;

  &__section {
    background-color: $white;

    &__header {
      height: 60px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      overflow: hidden;
    }

    &__content {
      height: calc(100% - 60px);

      &__scroll-area {
        height: calc(100%);
      }
    }
  }

  &__category-selection {
    &__header {
      &__back-link-container {
        float: left;
        width: 60px;
        border-right: 1px solid $gray-xlight;
        text-align: center;

        &__back-icon {
          color: $blue-reserve;
          line-height: 60px;
        }
      }

      &__title {
        width: calc(100% - 60px);
        padding: 0 10px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 60px;
        color: $text-medium;
      }
    }
  }

  &__template-management {
    &__header {
      overflow: hidden;
      padding-right: 30px;

      &__back-link-container {
        float: left;
        width: 60px;
        border-right: 1px solid $gray-xlight;
        text-align: center;

        &__back-icon {
          color: $blue-reserve;
          line-height: 60px;
        }
      }

      &__title {
        float: left;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        padding-left: 30px;
      }

      &__ssid-selection {
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        min-width: 240px;
      }

      &__actions {
        float: right;

        .base-button {
          margin-top: 10px;
          margin-left: 10px;
          padding: 0 20px;
        }
      }
    }
  }

  &__loading-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media only screen and (min-width: 1264px) {
  .compliance-check-detail {
    &__section {
      height: calc(100vh - 160px);

      &.compliance-check-detail__category-selection {
        margin-right: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1264px) {
  .compliance-check-detail {
    &__section {
      height: auto;
      min-height: 420px;

      &.compliance-check-detail__category-selection {
        height: 420px;
        margin-bottom: 20px;
      }
    }
  }
}
