@import "../../../styles/v2/colors";

.base-button {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  min-width: 100px;
  cursor: pointer;

  border-radius: 36px;
  outline: 0;
  box-sizing: border-box;
  border: 0;

  &__loading-indicator {
    ::v-deep svg {
      color: $white;
    }
  }

  &--green {
    background: $green-medium;
    color: $white;

    &:hover:not(:disabled):not(.base-button--loading) {
      text-decoration-line: underline;
    }
    &:focus:not(:disabled):not(.base-button--loading) {
      border: 1px solid $green-medium;
      background: $white;
      color: $text-medium;
      text-decoration-line: underline;
    }
    &:active:not(:disabled):not(.base-button--loading) {
      background: $green-dark;
      color: $white;
    }
    &:disabled {
      background: $gray-light;
      color: $white;
      cursor: not-allowed;
    }

    &--negative {
      border: 1px solid $green-medium;
      background-color: $white;
      color: $text-medium;

      &:hover:not(:disabled):not(.base-button--loading) {
        border-width: 1px;
        text-decoration-line: underline;
      }
      &:focus:not(:disabled):not(.base-button--loading) {
        border: 2px solid $green-dark;
        color: $green-dark;
        text-decoration-line: underline;
        line-height: 34px;
      }
      &:active:not(:disabled):not(.base-button--loading) {
        border: 2px solid $green-dark;
        background: $gray-medium;
        color: $text-medium;
        line-height: 34px;
      }
      &:disabled {
        border: 2px solid $gray-light;
        background: $white;
        text-decoration-line: underline;
        color: $gray-light;
        cursor: not-allowed;
        line-height: 34px;
      }

      .base-button__loading-indicator {
        ::v-deep svg {
          color: $green-medium;
        }
      }
    }
  }

  &--blue {
    background: $blue-reserve;
    color: $white;

    &:hover:not(:disabled):not(.base-button--loading) {
      background: $blue-light;
      text-decoration-line: underline;
    }
    &:focus:not(:disabled):not(.base-button--loading) {
      border: 1px solid $blue-reserve;
      background: $white;
      color: $text-medium;
      text-decoration-line: underline;
    }
    &:active:not(:disabled):not(.base-button--loading) {
      background: $blue-medium;
      color: $white;
    }
    &:disabled {
      background: $gray-light;
      color: $white;
      cursor: not-allowed;
    }

    &--negative {
      border: 1px solid $blue-reserve;
      background-color: $white;
      color: $text-medium;

      &:hover:not(:disabled):not(.base-button--loading) {
        border-width: 1px;
        text-decoration-line: underline;
      }
      &:focus:not(:disabled):not(.base-button--loading) {
        border: 2px solid $blue-medium;
        color: $blue-reserve;
        text-decoration-line: underline;
        line-height: 34px;
      }
      &:active:not(:disabled):not(.base-button--loading) {
        border: 2px solid $blue-dark;
        background: $gray-medium;
        color: $text-medium;
        line-height: 34px;
      }
      &:disabled {
        border: 2px solid $gray-light;
        background: $white;
        text-decoration-line: underline;
        color: $gray-light;
        cursor: not-allowed;
        line-height: 34px;
      }

      .base-button__loading-indicator {
        ::v-deep svg {
          color: $blue-reserve;
        }
      }
    }
  }

  &--danger {
    background: $danger;
    color: $white;

    &:hover:not(:disabled):not(.base-button--loading) {
      background: $danger;
      text-decoration-line: underline;
    }
    &:focus:not(:disabled):not(.base-button--loading) {
      border: 1px solid $danger;
      background: $white;
      color: $text-medium;
      text-decoration-line: underline;
    }
    &:active:not(:disabled):not(.base-button--loading) {
      background: $danger;
      color: $white;
    }
    &:disabled {
      background: $gray-light;
      color: $white;
      cursor: not-allowed;
    }

    &--negative {
      border: 1px solid $danger;
      background-color: $white;
      color: $danger;

      &:hover:not(:disabled):not(.base-button--loading) {
        border-width: 1px;
        text-decoration-line: underline;
      }
      &:focus:not(:disabled):not(.base-button--loading) {
        border: 2px solid $danger;
        color: $danger;
        text-decoration-line: underline;
        line-height: 34px;
      }
      &:active:not(:disabled):not(.base-button--loading) {
        border: 2px solid $danger;
        background: $gray-medium;
        color: $danger;
        line-height: 34px;
      }
      &:disabled {
        border: 2px solid $gray-light;
        background: $white;
        text-decoration-line: underline;
        color: $gray-light;
        cursor: not-allowed;
        line-height: 34px;
      }

      .base-button__loading-indicator {
        ::v-deep svg {
          color: $danger;
        }
      }
    }
  }

  &--rectangular {
    border-radius: 4px;
  }
}


.base-button--large {
  height: 40px;
  line-height: 40px;
  border-radius: 40px;

  .base-button--green {
    .base-button--green--negative {
      .base-button--green--negative:focus {
        line-height: 38px;
      }
      .base-button--green--negative:active {
        line-height: 38px;
      }
      .base-button--green--negative:disabled {
        line-height: 38px;
      }
    }
  }

  .base-button--blue {
    .base-button--blue--negative {
      .base-button--blue--negative:focus {
        line-height: 38px;
      }
      .base-button--blue--negative:active {
        line-height: 38px;
      }
      .base-button--blue--negative:disabled {
        line-height: 38px;
      }
    }
  }

  .base-button--danger {
    .base-button--danger--negative {
      .base-button--danger--negative:focus {
        line-height: 38px;
      }
      .base-button--danger--negative:active {
        line-height: 38px;
      }
      .base-button--danger--negative:disabled {
        line-height: 38px;
      }
    }
  }

  .base-button--rectangular {
    border-radius: 4px;
  }
}
